{% extends 'admin/base_site.html' %}
{% load i18n %}

{% block content %}
<br><br>
<b>{% trans 'Placeholders with changes' %}</b>
<div class="well-wrapper" style="background-color: #f5f5f5; border-radius: 10px; padding:10px;">
    {% for slot, html in slot_html.items %}
        <h3>{{ slot }}</h3>
        {% block slot %}
            {% autoescape off %}
                <p>{{ html }}</p>
            {% endautoescape %}
        {% endblock %}
    {% endfor %}
</div>


<b>{% trans 'Info' %}</b>
<p>
    {% blocktrans %}
        Reverting to this page revision will apply the above changes: green sections will be inserted,
        red sections will be deleted!
    {% endblocktrans %}
</p>
<a class="button" href="{% url 'admin:djangocms_reversion2_revert_page' page_revision_id %}">
    {% trans 'Revert' %}
</a>
{% endblock %}