{% extends 'admin/base_site.html' %}

{% load i18n %}
{% load staticfiles %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}


{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/reversion2.css' %}">

    <select>
        {% for lang in all_languages %}
            <option value="{{ lang }}" {% if forloop.counter0 == 0 %} selected="selected" {% endif %}>{{ lang }}</option>
        {% endfor %}
    </select>

    <div id="wrapper">
        <div id="sidebar-wrapper" class="col-md-2">
            <div id="bar">
                <p>Revisions</p>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        {% for key, value in sorted_grouped_revisions %}
                            <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="reversion2_menu_item_{{ forloop.counter0 }}">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_reversion2_menu_item_{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %} aria-expanded="true" {% else %} aria-expanded="false" class="collapsed" {% endif %} aria-controls="collapse_reversion2_menu_item_{{ forloop.counter0 }}">
                                                {{ value.0.hidden_page.changed_date|date }}
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="collapse_reversion2_menu_item_{{ forloop.counter0 }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="reversion2_menu_item_{{ forloop.counter0 }}">
                                        <div class="list-group">
                                              {% for item in value %}
                                                  <a class="list-group-item {% if item.pk == left_page.pk %} active {% endif %}" href="{% url 'admin:djangocms_reversion2_diff_view' item.draft.pk item.pk 0 %}?language={{ language }}">
                                                        <span class="badge">#{{ item.pk }}</span>
                                                      {{ item.comment|truncatechars:9 }} <br>{{ item.hidden_page.changed_date|time }}
                                                  </a>
                                                  {% if item.hidden_page.pk == left_page.pk and item.hidden_page.pk != right_page.pk %}
                                                      <a class="list-group-item" href="{% url 'admin:djangocms_reversion2_revert_page' left_page.pk %}?language={{ language }}">
                                                          <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> {% trans 'Revert to' %} #{{ left_page.pk }}
                                                      </a>
                                                  {% endif %}
                                              {% endfor %}
                                        </div>
                                    </div>

                            </div>
                    {% endfor %}
                    </div>
            </div>

        </div>

        <div id="comparison_wrapper" class="col-md-10 reversion2_diff_slots_view">
            <div id="title_wrapper" class="col-md-12">
                <div id="left-wrapper" class="col-md-6 reversion2_diff_slots_view">
                <div id="left">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 style="display: inline;">{% trans 'Calculated changes of revision ' %} # {{ left_page.pk }}
                                <br>
                            <!--<div class="reversion2_diff_rendered_view_button">-->
                                <a class="button" style="margin-left:20px;"
                                   href=" {{  left_page.get_absolute_url  }}?toolbar_off">
                                     <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                        &nbsp;{% trans 'Rendered version' %} &nbsp; </a>
                            <!--</div>-->
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>XXX</p>
                        </div>
                    </div>
                </div>
            </div>
                <div id="right-wrapper" class="col-md-6 reversion2_diff_slots_view">
            <div id="right">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if right_page.pk == page.pk %}
                            <h3>{% trans 'current version of the page (not revision)' %}</h3>
                        {% else %}
                            <h3>{% trans 'revision ' %} # {{ right_page.pk }}</h3>
                            <div class="reversion2_diff_rendered_view_button">
                                <a class="button"
                                   href="{{  right_page.get_absolute_url  }}?toolbar_off">{% trans 'View rendered version' %}</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <p>XXX</p>
                    </div>
                </div>
            </div>
        </div>
            </div>
        {% for placeholder, content in diffs.items %}
            {% if content.diff_right_to_left|length|add:"-1" > 0 %}
            <div class="panel panel-default col-md-12">
              <div class="panel-heading">Placeholder: {{ placeholder }}
                  <span class="badge">Changes: {{ content.diff_right_to_left|length|add:"-1" }}</span>
              </div>
              <div class="panel-body">

                  <div class="panel panel-default col-md-6 reversion2_diff_slots_view">
                      <div class="panel-body">
                          {% autoescape off %}
                          {{ content.diff_right_to_left.0.1 }}
                          {% endautoescape %}
                      </div>
                    </div>

                  <div class="panel panel-default col-md-6 reversion2_diff_slots_view">
                      <div class="panel-body">
                          {% autoescape off %}
                          {{ content.right  }}
                          {% endautoescape %}
                      </div>
                    </div>

              </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>

    </div>

{% endblock %}